$headings-margin-bottom: 0px;

$font-family-sans-serif: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-serif: 'Playfair', serif;

$primary: #594f4f;
$highlight: #45ada8;

$link-color: $highlight;

$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
