
.debug {
  border: 1px solid red;
}

.container-fluid.fw {
  padding-left: 0px;
  padding-right: 0px;
}

/**
 * Colors
 */
.primary {
  color: $primary;
}

.primary-bg {
  background: $primary;
}

.primary-light {
  color: $primary-light;
}

.primary-dark {
  color: $primary-dark;
}

.bp-date {
  text-transform: uppercase;
  color: $primary-light;
  font-size: 14px;
}

.bp-post {
  p {
    margin: 0;
    padding: 0;
  }
}