.top-nav {
  border-bottom: 3px solid $primary;
  display: flex;

  .tn-title {
    display: inline-block;
    background: $primary;
    color: $white;
    font-family: $font-family-serif;
    align-self: center;
    font-size: 36px;
    letter-spacing: 2px;
    min-width: 320px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .tn-nav {
    display: inline-block;
    font-size: 22px;
    align-self: center;
    line-height: 40px;
    letter-spacing: 2px;
    padding-left: 32px;
    font-family: $font-family-serif;
  }

  .nl {
    padding-right: 20px;
  }
}

